.rectangle {
    height:200px;
    width:200px;
    background-color:black;
    border-radius:50%;
    position:absolute;
}

#item{  
    position: absolute;
    left: 100px;
    top: 150px;
    left:10px; 
}